pipeline {
    agent any
    environment {
        CRED_VALUE = credentials('remote_user')
    }
    stages {
        stage('Build') {
            steps {
                sh 'echo Show usage of credentials function : $CRED_VALUE'
            }
        }
    }
}